

<h1><%= @employee.role.capitalize %> Details:</h1>
<br>
<p>
	
  <table class="table table-bordered table-striped">
  <tr>
    <td width="200"><b>Name:</b></td>
    <td><%= @employee.name %></td>
  </tr>
  <tr>
    <td><b>SSN:</b></td>
    <td><%= @employee.ssn.insert(3,"-").insert(7,"-") %></td>
  </tr>
  <tr>
    <td><b>Date of Birth:</b></td>
    <td><%= l @employee.date_of_birth %></td>
  </tr>
  <tr>
    <td><b>Phone:</b></td>
    <td><%= @employee.phone.insert(0,"(").insert(4, ") ").insert(9,"-") %></td>
  </tr>
  <tr>
    <td><b>Role:</b></td>
    <td><%= @employee.role.capitalize %></td>
  </tr>	
  <tr>
    <td><b>Joined Date:</b></td>
    <td><%= l @employee.created_at %></td>
  </tr>
  <tr>
    <td><b>Status:</b></td>
    <td>  <% if @employee.active %><span class="label label-success">Active</span><% else %><span class="label label-warning">In-active</span><% end %></td>
  </tr>
</table>

<br>
<br>
</p>
  <h3>Assignment History:</h3>
</p>
<br>
  
<table class="table table-striped">
  <thead>
    <th>Store Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Pay Level</th>
    <% if current_user.employee.role?(:admin) %><th>Actions</th> <% end %>
  </thead>
  <tbody
  </tr>
<% @employee.assignments.each do |assignment| %>
  <tr>
    <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
    <td><%= l assignment.start_date %></td>
    <td><% if assignment.end_date != nil %><%= l assignment.end_date %><% else %> <span class="label">N.A.</span><% end %></td>
    <td><%= assignment.pay_level %></td>
    <% if current_user.employee.role?(:admin) %><td><%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini'  %></td><% end %>
  </tr>
<% end %>
</tbody>
</table>
<br /><% if current_user.employee.role?(:admin) %>
<p><%= link_to 'New Assignment', new_assignment_path, :class => 'btn btn-primary' %></p><% end %>
