<%= form_for @assignment, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Assignment</legend>

    <div class="control-group">
      <%= f.label :store_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :store_id, Store.active.all, :id, :name, :prompt => "Select ..." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :employee_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :employee_id, Employee.active.all, :id, :proper_name, :prompt => "Select ..." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :start_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :start_date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :end_date, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :end_date, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :pay_level, :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:pay_level, Assignment::PAYS_LIST, :prompt => "Select pay level...") %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', assignments_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
