<h1>Past Assignments</h1>


<% # if current assignments are empty
if @assignments.empty? %>
	<p><em>There are no current assignments at this time.</em></p>
<% else %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Store</th>
      <th>Pay Level</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
        <td><%= assignment.pay_level %></td>
        <td><%= assignment.start_date.strftime('%d %b %Y') %></td>
	<td><%= assignment.end_date.strftime('%d %b %Y') %></td>

        <td>
          <%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<span class="smtext">
<%= will_paginate @assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<% end %>