<h1>Assignments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Store</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= link_to assignment.employee.name, employee_path(assignment.employee) %></td>
        <td><%= link_to assignment.store.name, store_path(assignment.store) %></td>
        <td><%= assignment.is_active? %></td>
        <td>
          <%= link_to 'Edit', edit_assignment_path(assignment), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', assignment_path(assignment), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @assignments, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>
<br />
<p><%= link_to "New Assignment", new_assignment_path %></p>

