
<% if can? :manage, Store %>
<h1>Current Stores</h1>
<table class="table table-striped">
	
	<% if @stores.empty? %>
		<tr>There are no active stores currently.</tr></table>
	<% else %>
	
  <thead>
    <tr>
      <th>Store</th>
      <th>Phone Number</th>
      <th>Staff Count</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody><% marker = 1 %>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>
        <td><%= store.phone.insert(3,"-").insert(7,"-") %></td>
        <td><%= Assignment.current.for_store(store.id).count %></td>
        <td>
          <%= link_to 'Edit', edit_store_path(store), :class => 'btn btn-mini' %>
          <%= link_to raw("<i class='icon-home icon-white'></i> Make Inactive"), edit_store_path(store, :status => 'deactivate_store'), :class => 'btn btn-mini btn-warning' %>
		<% if store.shifts.empty? and store.employees.empty? %>       
		<%= link_to raw("<i class='icon-trash icon-white'></i> Delete"), store_path(store), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %><% end %>
        </td>
      </tr><% marker = marker + 1 %>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @stores, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>
<br />

 <p><br><b>Map of our stores: </b><br>
<p align="center">

	  <%= raw Cartographer::Header.new.to_s %>
	  <%= raw @map.to_html %>
	<div style="width:100%;height:400px;" id="map" > [Map]</div>

<% end %>
</p>
<%= link_to 'Add New Store', new_store_path, :class => 'btn btn-primary' %>



<% else
# Shows what Managers, Employees and Guests see
%>
  
<h1>Current Stores</h1>
<table class="table table-striped">
	<% if @stores.empty? %>
		<tr>There are no active stores.</tr></table>
	<% else %>
	
  <thead>
    <tr>
      <th>Store Name</th>
      <th>Store Phone</th>
		<th>Store Address</th>
    </tr>
  </thead>
  <tbody><% marker = 1 %>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>
        <td><%= store.phone.insert(3,"-").insert(7,"-") %></td>
		<td><%= store.street %>, <%= store.city %>, <%= store.state %></td>
      </tr><% marker = marker + 1 %>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @stores, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>
<br />

 <p><br><b>Map of our stores: </b><br>
	Click on markers to view name of each store<br>
<p align="center">

	  <%= raw Cartographer::Header.new.to_s %>
	  <%= raw @map.to_html %>
	<div style="width:100%;height:400px;" id="map" > [Map]</div>
	
<% end %><% end %> 
</p>