
<h1>Store Details</h1>
<br>
<p>
  <table class="table table-bordered table-striped">
  <tr>
    <td width="200"><b>Store Name:</b></td>
    <td><%= @store.name %></td>
  </tr>
  <tr>
    <td><b>Address:</b></td>
    <td><%= @store.street %>
            <%= @store.city %>,
            <%= @store.state %>
            <%= @store.zip %></td>
  </tr>
  <tr>
    <td><b>Phone:</b></td>
    <td><%= @store.phone.insert(3,"-").insert(7,"-") %></td>
  </tr>
  <tr>
	<% if logged_in? && current_user.role?(:admin) %>
    <td><b>Active:</b></td>
    <td><%= "#{(@store.active==true)? 'Yes' : 'No'}" %> </td>
  </tr>
	<% end %>
  </table>


<p>
  <b>Map: </b><br>
  <p align='center'><%= image_tag @store.create_map_link(zoom=13,width=800,height=400) %>
</p>

<% if can? :manage, Employee %>

<%= render :partial => "employeelisting" %>

<% end %>