<h1>Store Details</h1>
<br>
<p>
  <b>Name:</b>
  <%= @store.name %>
  
<p>
  <b>Address:</b>
  <%= @store.street %>
            <%= @store.city %>,
            <%= @store.state %>
            <%= @store.zip %>
</p>

<p>
  <b>Phone: </b>
  <%= @store.phone.insert(3,"-").insert(7,"-")%>
</p>

<p>
  <b>Active: </b>
  <%= "#{(@store.active==true)? 'Yes' : 'No'}" %>
</p>

<p>
  <b>Map: </b><br>
  <%= image_tag @store.create_map_link %>
</p>



<%= render :partial => "employeelisting" %>