
<div id="footer">

	<%= link_to 'Home', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'About Us', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Contact Us', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Our Stores', stores_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'Privacy Policy', privacy_path %>
	<br /><br />
	
	<div id="copy">
		Webmaster: <%= mail_to("weishanl@andrew.cmu.edu", "Terence Lim", :encode => "javascript") %> 
		&nbsp;&copy 2012
		<p>This website is optimised for 1024 X 768 screen resolution.</p>
	</div>

</div>