<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Email</legend>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :employee_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :employee_id, Employee.active.all, :id, :proper_name, :prompt => "Select ..." %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :password_digest, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :password_digest, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
