
<% if can? :manage, Store %>
<h4>Active Stores</h4><p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Store</th>
      <th>Phone Number</th>
      <th>Employee Count</th>
      <th>No. of shift hours <br>(Past 2 weeks)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store_path(store) %></td>
        <td><%= store.phone.insert(3,"-").insert(7,"-") %></td>
        <td><%= Assignment.current.for_store(store.id).count %></td>
        <td><%= store.total_hours_in_x_days(days=14) %></td>
        <td>
          <%= link_to 'Assign Employee', new_assignment_path(:store_id => store.id), :class => 'btn btn-mini' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @stores, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>
<br />
<% end %>