

<h4>Employees in your store</h4><p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Shift-hours Worked</th>
      <th>Date of Last Shift</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee_path(employee) %></td>
        <td align='center'><%= employee.total_hours_in_x_days(days=14) %></td>
        
        <% if employee.shifts.past.last == nil %>
         <td>N.A.</td>
        
        <% else %>
        <td><%= l employee.shifts.past.last.date %></td>
      <% end %>
        <td>
    <%= link_to 'New Shift', new_shift_path(:assignment_id => employee.current_assignment), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @employees, :previous_label => "&larr;&nbsp;Previous&nbsp;", :next_label => "&nbsp;Next&nbsp;&rarr;" %>
</span>
<br />
