<h4>Shifts today for your store</h4><p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Start Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
    <% if Shift.for_store(current_user.employee.current_assignment.store_id).for_next_days(0).size == 0 %>
      
      <tr><td colspan="4">No Upcoming Shifts Found</td></tr>
    
    <% else %>
      
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
          <td><%=  shift.start_time.strftime('%I:%M %p') %></td>
          <td>
            <%= link_to 'Create New Shift', edit_shift_path(shift), :class => 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />




<h4>Incomplete Shifts</h4><p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Shift Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
    <% if Shift.by_employee(current_user.employee.id).past.size == 0 %>
      <tr><td colspan="4">No Incomplete Shifts Found</td></tr>
    
    <% else %>
      
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
          <td><%=  shift.start_time.strftime('%I:%M %p') %></td>
          <td>
            <%= link_to 'Create New Shift', edit_shift_path(shift), :class => 'btn btn-mini' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />
