<h1>Shift Details</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @shift.employee.name %></td>
          <td><%= @shift.date.strftime('%d %b %Y') %></td>
          <td><%= @shift.start_time.strftime('%I:%M %p') %></td>
          <td><%= @shift.end_time.strftime('%I:%M %p') unless @shift.end_time.nil? %></td>
        </tr>
  
    </tbody>
  </table><p>
<p>
  <b>Notes</b><br>
  <%= "No notes found" if @shift.notes == '' %>
  <%= @shift.notes %>
</p>

<div class="form-actions">
  <%= link_to 'Back', shifts_path, :class => 'btn'  %>
  <% if can? :manage, Shift %>
  <%= link_to 'Edit', edit_shift_path(@shift), :class => 'btn' %>
  <%= link_to 'Delete', shift_path(@shift), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
<% end %>
</div>
