<!DOCTYPE html>
<html>
<head>
  <title>A & M Creamery</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
        <div id="wrapper">
	
			<table width="100%" height = "162" border="0" cellpadding="0" cellspacing="0">
			  <tr>
			    <td background="<%= image_path('header.jpg') %>">&nbsp;</td>
			  </tr>
			</table>
			
		 
		<!-- NAV BAR -->
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <div class="nav-collapse">
		        <ul class="nav">
                          <% if controller.action_name == 'home' %><li class="active"><% else %><li><% end %><%= link_to 'Home', home_path %></li>

		          <% if controller.action_name == 'about' %><li class="active"><% else %><li><% end %><%= link_to 'About Us', about_path %></li>
                          <% if controller.action_name == 'contact' %><li class="active"><% else %><li><% end %><%= link_to 'Contact Us', contact_path %></li>
			  <% if controller.controller_name == 'stores' %><li class="active"><% else %><li><% end %><%= link_to 'Our Stores', stores_path %></li>
			  <% if controller.action_name == 'privacy' %><li class="active"><% else %><li><% end %><%= link_to 'Privacy Policy', privacy_path %></li>

		        </ul>
		
				<% if logged_in? && (current_user.employee.role?(:admin) or current_user.employee.role?(:manager)) %>
				<%= form_tag(search_path, :class => 'navbar-search pull-left') do %>
					<%= text_field_tag('query', '', :size => 12, :placeholder => 'Search Employee...', :class => 'search-query') %>
					<%= submit_tag('Find', :class => 'search-query') %>
				<% end %><% end %>
		
			<ul class="nav pull-right"><% if logged_in? %><li>
				<% if current_user.employee.role?(:employee) %><%= link_to current_user.employee.name, home_path %>
				<% else %>
				<%= link_to current_user.employee.name, employee_path(current_user.employee) %></li> 
				<% end %>
				<% end %><li class="divider-vertical"></li>
			  <% if logged_in? %><li><%= #link_to current_user.employee.name, employee_path(current_user.employee)
			  %></li>
                            <li><%= link_to 'Logout', logout_path %></li>
                          <% else %><li><%= link_to 'Login', login_path %></li>
                          <% end %>
			</ul>
		      </div>

                      
		    </div>
		  </div>	<table width="100%" height = "35" border="0" cellpadding="0" cellspacing="0">
			  <tr>
			    <td background="<%= image_path('swill.jpg') %>">&nbsp;</td>
			  </tr>
			</table>
		</div>
                
                


		<!-- MAIN CONTENT -->
		<div class="container">
			<!-- flash messages -->
			<% flash.each do |name, msg| %>
			  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			    <a class="close" data-dismiss="alert">×</a>
			    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			  </div>
			<% end %>
			<div class="row">
				<!-- main content placed here -->
				<div class="span9">
					<%= yield %>
				</div>
                                
                                
                                      <div class="span3">
        <%= render :partial => "partials/quick_links" %>

      </div>
    </div>
                                
			</div>
		</div>

		<!-- FOOTER -->
		<footer id="footer">
	    <div class="container" align='center'>
				<%= render :partial => "partials/footer" %>
	    </div>
	  </footer>
	</div>
</body>
</html>
