<!DOCTYPE html>
<html>
<head>
  <title>Creamery2012 :: <%= controller.controller_name.capitalize %> - <%= controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
        <div id="wrapper">
		<!-- TITLE BAR -->
		<!-- NAV BAR -->
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
                      <a class="brand" href="<%= home_path %>">Creamery</a>
		      <div class="nav-collapse">
		        <ul class="nav">
                          <li><%= link_to 'Home', home_path %></li>
		          <li><%= link_to 'About Us', about_path %></li>
                          <li><%= link_to 'Contact Us', contact_path %></li>
			  <li><%= link_to 'Our Stores', stores_path %></li>
			  <li><%= link_to 'Privacy Policy', privacy_path %></li>

		        </ul>
			<ul class="nav pull-right">
			  <% if logged_in? %>
                            <li><%= link_to 'Logout', logout_path %></li>
                          <% else %><li><%= link_to 'Login', login_path %></li>
                          <% end %>
			</ul>
		      </div>

                      
		    </div>
		  </div>
		</div>
                
                


		<!-- MAIN CONTENT -->
		<div class="container">
			<!-- flash messages -->
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">&times;</a>
					<%= msg %>
				</div>
	    <% end %>
			<div class="row">
				<!-- main content placed here -->
				<div class="span9">
					<%= yield %>
				</div>
                                
                                
                                      <div class="span3">
        <%= render :partial => "partials/quick_links" %>

      </div>
    </div>
                                
			</div>
		</div>

		<!-- FOOTER -->
		<footer id="footer">
	    <div class="container" align='center'>
				<%= render :partial => "partials/footer" %>
	    </div>
	  </footer>
	</div>
</body>
</html>
